

@{
    ViewBag.Title = "Forgot Password";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="form-horizontal">
        <div class="text-success">
            @ViewBag.Message
        </div>
        @using (Html.BeginForm())
        {
            <div class="form-group" style="padding-top:55px">
                <label class="control-label col-md-2">Email Id</label>
                @Html.TextBox("Email", "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" style="color:white;margin-left:70px;" , class="btn btn-success" />
                </div>
            </div>
        }
        <a href="https://www.google.com/gmail/">Click here to go to Gmail</a>
        <br />

        @if (ViewBag.message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.message");
            };
            </script>

        }



    </div>
</body>
</html>
