

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        You have Logged out Successfully...
    </div>
    @Html.ActionLink("Login","Login")
</body>
</html>
