
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyAccount</title>
</head>
<body>
    Your Account has activated successfully..Click here to login..
    
    <div>
        @Html.ActionLink("Login","Login","Home")
    </div>
</body>
</html>
